.caption-border-left{
    border-left:solid 6px black;
}

#sutra_menu .nav-item a {
    font-weight: bold;
    color: #c53e2e;
}

#sutra_menu .nav-item a:hover {
    color: black;
}

.bg-clr-black{
    background-color:black;
}

.bg-clr-orange{
    background-color:#d85a4b;
}

.bg-clr-yellow{
    background-color:#fdbf18;
}