.caption-border-left{
    border-left:solid 6px black;
}

#sutra_menu .nav-item a {
    font-weight: bold;
    color: black;
}

#sutra_menu .nav-item a:hover {
    color: black;
}

.bg-clr-black{
    background-color:black;
}

.bg-clr-orange{
    background-color:#d85a4b;
}

.bg-clr-yellow{
    background-color:#fdbf18;
}

.card-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item .active p{
    background-color: black;
    color: white;
    border-radius: 50px;
}

.nav-link p{
    margin: auto;
    width: min-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    transition: 0.3s;
}

.nav-item a p:hover{
    border-radius: 50px;
    color: white !important;
    background-color: black;
}

.nav-item .active p:hover{
    color: white !important;
}

.contributors-row .card{
    border: none;
}


